root {
    font-family: 'Merriweather', serif;
    font-family: 'Rosarivo', cursive;
}   

#forecast {
    position: absolute;
    left:20%;
}


h1 {
    margin-bottom: 5%;
    background-color: rgb(50, 66, 158);
}